<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">แฟ้มข้อมูล</div>
        <div class="f18" align="center">หน้าแฟ้มข้อมูล มีรายละเอียดและวิธี ดังนี้</div>
        <div class="q-py-xl">
          <img src="../statics/datafile/data1.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">A</div>
          </div>
          <div class="col self-start label">
            กดปุ่ม “แผนการสอน” สามารถเข้าไปตรวจสอบแผนการสอนในแต่ละระดับชั้นได้ โดยสามารถดูข้อมูล
            เพิ่มเติมได้ที่
            <span
              class="cl5 cursor-pointer"
            >
              <u>A). แผนการสอน</u>
            </span>
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">B</div>
          </div>
          <div class="col self-start label">
            กดปุ่ม “รายชื่อนักเรียน” สามารถเข้าไปตรวจสอบรายชื่อนักเรียน รหัสผู้ใช้งาน และรหัสผ่านของนักเรียน
            ในแต่ละระดับชั้นได้ โดยสามารถดูข้อมูลเพิ่มเติมได้ที่
            <span
              class="cl5 cursor-pointer"
            >
              <u>B). รายชื่อนักเรียน</u>
            </span>
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">C</div>
          </div>
          <div class="col self-start label">
            กดปุ่ม “คู่มือช่วยเหลือ” สามารถเข้าไปเรียนรู้การใช้งาน และวิธีแก้ปัญหาการใช้งานในเบื้องต้นได้ โดย
            สามารถดูข้อมูลเพิ่มเติมได้ที่
            <span
              class="cl5 cursor-pointer"
            >
              <u>C). คู่มือช่วยเหลือ</u>
            </span>
          </div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-sm label2">A). แผนการสอน</div>
          <img src="../statics/datafile/data2.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดเพื่อ กลับไปยังหน้าแฟ้มข้อมูล</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">เลือก "ชั้น/ห้อง"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">สามารถกดเพื่อดาวน์โหลดแผนการสอนได้</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-sm label2">B). รายชื่อนักเรียน</div>
          <img src="../statics/datafile/data3.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดเพื่อ กลับไปยังหน้าแฟ้มข้อมูล</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">เลือก "ชั้น/ห้อง"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">3</div>
          </div>
          <div class="col self-start label">ตารางรายชื่อนักเรียน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">4</div>
          </div>
          <div class="col self-start label">กดปุ่มเพื่อ บันทึกเป็นไฟล์ PDF</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">5</div>
          </div>
          <div class="col self-start label">กดปุ่มเพื่อ พิมพ์</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-sm label2">C). คู่มือช่วยเหลือ</div>
          <img src="../statics/datafile/data4.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม "เรียนรู้การใช้งาน" กรณีไม่ทราบวิธีหรือขั้นตอนการใช้โปรแกรม Winner Adventures</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม "ปัญหาการใช้งาน" กรณีพบปัญหาการใช้งาน แล้วต้องการแก้ไขปัญหาในเบื้องต้น</div>
        </div>
      </div>
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                style="width:100%;max-width:200px; height:60px  "
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
                <span class="q-px-md">ก่อนหน้านี้</span>
              </q-btn>
            </div>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
              </q-btn>
            </div>
          </div>
        </div>
        <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <q-btn
              @click="nextBtn()"
              style="width:100%;max-width:200px; height:60px  "
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <span class="q-px-md">หน้าถัดไป</span>
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="nextBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-right"></i>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/game");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/score");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>