<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">ระบบเกม</div>
        <div
          class="f18"
          align="center"
        >โปรแกรม Winner Adventures มีการนำระบบเกม มาใช้เพื่อสร้างแรงจูงใจในการเรียนของนักเรียน</div>
        <div class="q-pt-xl">
          <div class="f16 q-pb-sm label2">1). การทำภารกิจ</div>
          <img src="../statics/game/game-1.png" alt />
        </div>
        <div class="q-py-md f20">
          <div>
            ในการเรียน จะมีการโหวตภารกิจเพื่อทำภารกิจรับของรางวัลร่วมกันทั้งห้อง โดยนักเรียนต้องช่วยกันทำคะแนน
            ร่วมกันทั้งห้อง คะแนนแบบฝึกหัดที่นักเรียนทำได้จะแทนค่าเป็นเหรียญ เมื่อนักเรียนสะสมเหรียญจนสำเร็จตามที่
            ภารกิจกำหนด ทั้งห้องจะได้รับของรางวัลตามที่เลือกโหวต
          </div>
          <div class="q-py-lg">ของรางวัลมี 3 อย่างให้เลือก โดยมีทักษะแตกต่างกัน ดังนี้</div>
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">"เรือ" บวกเหรียญพิเศษทันทีหลังจากทำแบบฝึกหัดเสร็จสิ้น</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div
            class="col self-start label"
          >"คู่หู" จะช่วยลดราคาภารกิจที่ต้องทำ ให้น้อยลงจากราคาปกติ เพื่อช่วยสะสมเหรียญให้สำเร็จเร็วขึ้น</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div
            class="col self-start label"
          >"สมบัติ" จะบวกเหรียญทันทีหลังจากที่ทำภารกิจสำเร็จ และจะใช้ได้เพียงครั้งเดียวเท่านั้น</div>
        </div>

        <div class="q-pt-xl">
          <div class="f24 q-pb-sm label2">2). การตรวจสอบของรางวัลที่ได้รับ</div>
          <img src="../statics/game/game-2.png" alt />
        </div>
        <div
          class="q-py-md f20"
        >หลังจากที่เราได้รับของรางวัลจากการทำภารกิจ รางวัลจะแสดงอยู่ในหน้าหลักตามนี้</div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">สมบัติ แต่ละชิ้น จะถูกรวบรวมไว้ที่จุดนี้</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">เรือ จะอยู่ที่จุดนี้ โดยจะเปลี่ยนไปในแต่ละระดับที่ได้รับ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div
            class="col self-start label"
          >คู่หู จะอยู่ที่จุดนี้ โดยจะเปลี่ยนไปในแต่ละระดับที่ได้รับ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">4</div>
          </div>
          <div class="col self-start label">บอกความสามารถของเรือในปัจจุบัน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">5</div>
          </div>
          <div class="col self-start label">บอกความสามารถของคู่หูในปัจจุบัน</div>
        </div>
        <div class="q-pt-xl">
          <div class="f24 q-pb-sm label2">3). ระบบเลเวล</div>
          <img src="../statics/game/game-3.png" alt />
        </div>
        <div
          class="q-py-md f20"
        >ในหน้าของนักเรียนจะมีแถบแสดงชื่อ เลเวล และยศของนักเรียน โดยรายละเอียดมีดังนี้</div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">แถบแสดงข้อมูลของนักเรียน</div>
        </div>

        <div class="q-pt-xl">
          <img src="../statics/game/game-4.png" alt />
        </div>

        <div class="row q-pt-lg">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">ระดับยศของนักเรียน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">เลเวลของนักเรียน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">4</div>
          </div>
          <div class="col self-start label">ชื่อของนักเรียน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">5</div>
          </div>
          <div class="col self-start label">
            xp ของนักเรียนที่มีในปัจจุบัน จะได้รับมาจากคะแนนแบบฝึกหัดที่นักเรียนทำได้ และคะแนนการตั้งใจเรียน
            โดยคุณครูกดให้ เมื่อ xp ของนักเรียนเต็มถึงระดับที่กำหนด เลเวลจะเพิ่มขึ้น 1 เลเวล
          </div>
        </div>
      </div>
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                style="width:100%;max-width:200px; height:60px  "
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
                <span class="q-px-md">ก่อนหน้านี้</span>
              </q-btn>
            </div>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
              </q-btn>
            </div>
          </div>
        </div>
        <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <q-btn
              disable
              style="width:100%;max-width:200px; height:60px  "
              class="bg-grey-6 text-white f20"
              unelevated
              rounded
            >
              <span class="q-px-md">หน้าถัดไป</span>
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn disable size="16px" round class="bg1 text-white f20" unelevated rounded>
                <i class="fas fa-chevron-right"></i>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },

    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/datafile");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>