<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">ไวยกรณ์</div>
        <div class="f18" align="center">การเข้าสู่บทเรียน ไวยกรณ์ มีดังนี้</div>
        <div class="q-py-xl">
          <img src="../statics/grammar/grammar1.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เริ่มเดินทาง"</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">1). บทเรียน Grammar Lesson</div>
          <img src="../statics/grammar/grammar2.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">2</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่บทเรียน"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/grammar/grammar3.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">4</div>
          </div>
          <div
            class="col self-start label"
          >เนื้อหาของบทเรียน "Grammar Lesson" มีทั้งแบบภาพนิ่ง และ แบบวิดีโอการสอน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">5</div>
          </div>
          <div
            class="col self-start label"
          >เวลาที่แนะนำสำหรับการเรียน แต่ระยะเวลาในการสอนจริงนั้น อาจจะแตกต่างจากเวลาที่แนะนำได้ ขึ้นอยู่กับดุลพิจนิจของคุณครูผู้สอน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">6</div>
          </div>
          <div
            class="col self-start label"
          >เลือกหัวข้อสำหรับการเรียน คุณครูต้องเรียนหัวข้อที่มีสัญลักษณ์ new ให้ครบถึงจะสามารถเลือกจบบทเรียนได้</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">7</div>
          </div>
          <div
            class="col self-start label"
          >ถ้าในหัวข้อเนื้อหามีสัญลักษณ์ new เนื้อหาจะเป็นรูปแบบวีดีโอ คุณครูสามารถกดเพื่อดูวีดีโอได้ แต่ถ้าไม่มีสัญลักษณ์ new เนื้อหาจะเป็นรูปแบบสไลด์เท่านั้น</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">8</div>
          </div>
          <div
            class="col self-start label"
          >กดเพื่อ จบบทเรียน ปุ่มจะสามารถกดใช้งานได้ เมื่อคุณครูสอนเนื้อหาที่มีสัญลักษณ์ new ครบแล้ว</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">2). แบบฝึกหัด Grammar Action</div>
          <img src="../statics/grammar/grammar4.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">9</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">10</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่แบบฝึกหัด"</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/grammar/grammar5.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">11</div>
          </div>
          <div class="col self-start label">แสดงจำนวนนักเรียนที่ตอบเสร็จสิ้นในข้อปัจจุบัน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">12</div>
          </div>
          <div class="col self-start label">
            เวลาที่แนะนำสำหรับการทำแบบฝึกหัด แต่ระยะเวลาในการสอนจริงนั้น อาจจะแตกต่างจากเวลาที่แนะนำได้
            ขึ้นอยู่กับดุลพินิจของคุณครูผู้สอน
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">13</div>
          </div>
          <div class="col self-start label">แถบแสดงข้อที่อยู่ปัจจุบัน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">14</div>
          </div>
          <div
            class="col self-start label"
          >คำถามของแบบฝึกหัด คุณครูควรอธิบายให้นักเรียนเข้าใจโจทย์เบื้องต้นก่อน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">15</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “เริ่มทำ” เพื่อให้นักเรียนเริ่มทำแบบฝึกหัดข้อปัจจุบัน</div>
        </div>
        <div class="q-pt-xl">
          <img src="../statics/grammar/grammar6.png" alt />
        </div>
        <div align="center" @click="openAction()" class="cursor-pointer q-py-md f20 cl1">
          <u>ดูตัวอย่างหน้าแบบฝึกหัดของนักเรียน</u>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">16</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม "สินสุดการทํา" เมือนักเรียนทําข้อเสร็จครบทุกคน โดยดูได้จากข้อ 11. หรือขึ้นอยู่กับดุลพินิจของคุณครูผู้สอน ในข้อปัจจุบัน</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/grammar/grammar7.png" alt />
        </div>

        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">17</div>
          </div>
          <div class="col self-start label">กราฟแสดงจำนวนนักเรียนที่ตอบในแต่ละตัวเลือก</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">18</div>
          </div>
          <div class="col self-start label">กดปุ่ม “เฉลยคำตอบ”</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/grammar/grammar8.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">19</div>
          </div>
          <div class="col self-start label">แสดงตัวเลือกที่ถูกต้อง</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">20</div>
          </div>
          <div class="col self-start label">กดปุ่ม “ถัดไป”</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/grammar/grammar9.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">21</div>
          </div>
          <div class="col self-start label">คำอธิบายของคำถามปัจจุบัน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">22</div>
          </div>
          <div class="col self-start label">กดปุ่ม “ข้อถัดไป”</div>
        </div>

        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">กรณีคำถามหน้าสุดท้าย</div>
          <img src="../statics/grammar/grammar10.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">23</div>
          </div>
          <div class="col self-start label">ปุ่ม “ข้อถัดไป” จะเปลี่ยนเป็นปุ่ม "จบแบบฝึกหัด"</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/grammar/grammar11.png" alt />
        </div>

        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">24</div>
          </div>
          <div class="col self-start label">
            กดเพื่อ ทำแบบฝึกหัดใหม่อีกครั้ง โดยคะแนนที่นักเรียนได้ทำไปแล้วในแบบฝึกหัดนี้จะไม่มี
            การบันทึกใดๆ ทั้งสิ้น
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">25</div>
          </div>
          <div class="col self-start label">กดปุ่ม "บทเรียนถัดไป"</div>
        </div>

        <div class="q-py-xl">
          <div class="f24 q-pb-md">
            <div class="label2">3). แบบฝึกหัด Fill in the blank</div>
          </div>
          <img src="../statics/grammar/grammar12.png" alt />
        </div>

        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">26</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">27</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่แบบฝึกหัด"</div>
        </div>

        <div class="q-pt-xl">
          <img src="../statics/grammar/grammar13.png" alt />
        </div>
        <div align="center" @click="openFillin()" class="cursor-pointer q-py-md f20 cl1">
          <u>ดูตัวอย่างหน้าแบบฝึกหัดของนักเรียน</u>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">28</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">29</div>
          </div>
          <div class="col self-start label">
            เวลาที่เหลือในการทำแบบฝึกหัดนี้ นักเรียนไม่จำเป็นต้องทำโจทย์จนครบทุกข้อทุกคน แต่ขอให้
            พยายามทำในกรอบเวลาที่จัดให้ เพื่อทำให้การเรียนครบถ้วนทันตามหลักสูตร แต่ถ้าคุณครูเห็นว่า
            นักเรียนส่วนใหญ่ยังทำแบบฝึกหัดไม่ทัน คุณครูสามารถต่อเวลาเพิ่มเติมได้อีก 2 นาที โดย จะมีหน้าต่าง
            ขึ้นมาถามตอนก่อนหมดเวลา 30 วินาที
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">30</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">31</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">32</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md row">
            <div class="label2">หน้าความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ (ปุ่มจากข้อ</div>
            <span class="caption3 q-mx-sm" align="center">31</span>)
          </div>
          <img src="../statics/grammar/grammar14.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">33</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">34</div>
          </div>
          <div class="col self-start label">เวลาสำหรับการทำแบบฝึกหัด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">35</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">36</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">37</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/grammar/grammar15.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">38</div>
          </div>
          <div class="col self-start label">
            กดเพื่อ ทำแบบฝึกหัดใหม่อีกครั้ง โดยคะแนนที่นักเรียนได้ทำไปแล้วในแบบฝึกหัดนี้จะไม่มี
            การบันทึกใดๆ ทั้งสิ้น
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">39</div>
          </div>
          <div class="col self-start label">กดปุ่ม "บทเรียนถัดไป"</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md">
            <div class="label2">4). แบบฝึกหัด Multiple choice</div>
          </div>
          <img src="../statics/grammar/grammar16.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">40</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">41</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่แบบฝึกหัด"</div>
        </div>
        <div class="q-pt-xl">
          <img src="../statics/grammar/grammar17.png" alt />
        </div>
        <div align="center" @click="openMulti()" class="cursor-pointer q-py-md f20 cl1">
          <u>ดูตัวอย่างหน้าแบบฝึกหัดของนักเรียน</u>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">42</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">43</div>
          </div>
          <div class="col self-start label">
            เวลาที่เหลือในการทำแบบฝึกหัดนี้ นักเรียนไม่จำเป็นต้องทำโจทย์จนครบทุกข้อทุกคน แต่ขอให้
            พยายามทำในกรอบเวลาที่จัดให้ เพื่อทำให้การเรียนครบถ้วนทันตามหลักสูตร แต่ถ้าคุณครูเห็นว่า
            นักเรียนส่วนใหญ่ยังทำแบบฝึกหัดไม่ทัน คุณครูสามารถต่อเวลาเพิ่มเติมได้อีก 2 นาที โดย จะมีหน้าต่าง
            ขึ้นมาถามตอนก่อนหมดเวลา 30 วินาที
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">44</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">45</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">46</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md row">
            <div class="label2">หน้าความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ (ปุ่มจากข้อ</div>
            <span class="caption3 q-mx-sm" align="center">45</span>)
          </div>
          <img src="../statics/grammar/grammar18.png" alt />
        </div>

        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">47</div>
          </div>
          <div
            class="col self-start label"
          >แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบตารางรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">48</div>
          </div>
          <div class="col self-start label">เวลาสำหรับการทำแบบฝึกหัด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">49</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">50</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">51</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/grammar/grammar19.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">52</div>
          </div>
          <div class="col self-start label">
            กดเพื่อ ทำแบบฝึกหัดใหม่อีกครั้ง โดยคะแนนที่นักเรียนได้ทำไปแล้วในแบบฝึกหัดนี้จะไม่มี
            การบันทึกใดๆ ทั้งสิ้น
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">53</div>
          </div>
          <div
            class="col self-start label"
          >ในกรณีที่แบบฝึกหัดสุดท้ายของ Grammar จะมีปุ่ม “สรุปคะแนน” ปรากฏขึ้</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/grammar/grammar20.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">54</div>
          </div>
          <div class="col self-start label">ตรวจสอบคะแนนของนักเรียนในบทเรียน ไวยกรณ์</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">55</div>
          </div>
          <div class="col self-start label">กดปุ่ม "บทเรียนถัดไป"</div>
        </div>

        <!-- ปุ่ม -->
      </div>
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                style="width:100%;max-width:200px; height:60px  "
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
                <span class="q-px-md">ก่อนหน้านี้</span>
              </q-btn>
            </div>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
              </q-btn>
            </div>
          </div>
        </div>
        <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <q-btn
              @click="nextBtn()"
              style="width:100%;max-width:200px; height:60px  "
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <span class="q-px-md">หน้าถัดไป</span>
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="nextBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-right"></i>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
      <!-- dialog fillin -->
      <q-dialog v-model="popupFillin">
        <div class="bg3 q-pt-md" style="width:100%;max-width:950px ; margin:auto;">
          <div class="q-px-md">
            <div class="row">
              <div class="col-11 self-center label2">หน้าแบบฝึกหัด Fill in the blank ของนักเรียน</div>
              <div class="col-1" align="right">
                <q-icon
                  @click="closeFillin()"
                  class="cursor-pointer"
                  style="font-size:calc(40px + 0.5vw)"
                  name="fas fa-times"
                />
              </div>
            </div>
            <div class="q-pb-md" align="center">
              <img src="../statics/grammar/popup-fill.png" alt />
            </div>
          </div>
        </div>
      </q-dialog>
      <!-- dialog action -->
      <q-dialog v-model="popupAction">
        <div class="bg3 q-pt-md" style="width:100%;max-width:950px ; margin:auto;">
          <div class="q-px-md">
            <div class="row">
              <div class="col-11 self-center label2">หน้าแบบฝึกหัด Grammar Action ของนักเรียน</div>
              <div class="col-1" align="right">
                <q-icon
                  @click="closeAction()"
                  class="cursor-pointer"
                  style="font-size:calc(40px + 0.5vw)"
                  name="fas fa-times"
                />
              </div>
            </div>
            <div class="q-pb-md" align="center">
              <img src="../statics/grammar/popup-Action.png" alt />
            </div>
          </div>
        </div>
      </q-dialog>
      <!-- dialog Multi -->
      <q-dialog v-model="popupMulti">
        <div class="bg3 q-pt-md" style="width:100%;max-width:950px ; margin:auto;">
          <div class="q-px-md">
            <div class="row">
              <div class="col-11 self-center label2">หน้าแบบฝึกหัด Multiple choice ของนักเรียน</div>
              <div class="col-1" align="right">
                <q-icon
                  @click="closeMulti()"
                  class="cursor-pointer"
                  style="font-size:calc(40px + 0.5vw)"
                  name="fas fa-times"
                />
              </div>
            </div>
            <div class="q-pb-md" align="center">
              <img src="../statics/grammar/popup-multiple.png" alt />
            </div>
          </div>
        </div>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      popupFillin: false,
      popupMulti: false,
      popupAction: false,
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    openFillin() {
      this.popupFillin = true;
    },
    closeFillin() {
      this.popupFillin = false;
    },
    openMulti() {
      this.popupMulti = true;
    },
    closeMulti() {
      this.popupMulti = false;
    },
    openAction() {
      this.popupAction = true;
    },
    closeAction() {
      this.popupAction = false;
    },
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/reading");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/vocab");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>