<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">การพูดและฟัง</div>
        <div class="f18" align="center">การเข้าสู่บทเรียน การพูดและฟัง มีดังนี้</div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS1.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เริ่มเดินทาง"</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">1). บทเรียน Language Tips</div>
          <img src="../statics/LTIPS/LTIPS2.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">2</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่บทเรียน"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS3.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">4</div>
          </div>
          <div
            class="col self-start label"
          >เนื้อหาของบทเรียน "Language Tips" มีทั้งแบบภาพนิ่ง กดฟังเสียงอย่างเดียว และ แบบวิดีโอการสอน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">5</div>
          </div>
          <div
            class="col self-start label"
          >เวลาที่แนะนำสำหรับการเรียน แต่ระยะเวลาในการสอนจริงนั้น อาจจะแตกต่างจากเวลาที่แนะนำได้ ขึ้นอยู่กับดุลพิจนิจของคุณครูผู้สอน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">6</div>
          </div>
          <div class="col self-start label">
            เลือกหัวข้อสำหรับการเรียน หัวข้อที่เรียนไปแล้วจะแสดงเป็นสีเขียว คุณครูต้องเรียนให้ครบถึงจะ
            สามารถเลือกจบบทเรียนได้
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">7</div>
          </div>
          <div class="col self-start label">
            กดปุ่ม "เล่นเสียง" เพื่อฟังเสียงวิดีโอได้ หรือ กรณีที่เนื้อหาเป็นวิดีโอ ปุ่มจะเปลี่ยนเป็น "เล่นวิดีโอ"
            สามารถกดเพื่อดูวิดีโอได้
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">8</div>
          </div>
          <div
            class="col self-start label"
          >กดเพื่อ จบบทเรียน ปุ่มจะสามารถกดใช้งานได้ เมื่อคุณครูสอนเนื้อหาจนหัวข้อแสดงเป็นสีเขียวครบแล้ว</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS4.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">9</div>
          </div>
          <div class="col self-start label">กดเพื่อ เรียนใหม่อีกครั้ง</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">10</div>
          </div>
          <div class="col self-start label">กดเพื่อเข้าสู่ บทเรียนถัดไป</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">11</div>
          </div>
          <div class="col self-start label">
            กดให้คะแนนพิเศษ และเข้าสู่บทเรียนถัดไป ถ้าคุณครูเห็นว่านักเรียนในห้องพร้อมใจกันฝึกออกเสียง
            และตั้งใจเรียน คุณครูสามารถให้คะแนนพิเศษได้
          </div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">2). แบบฝึกหัด Dialog practice</div>
          <img src="../statics/LTIPS/LTIPS5.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">12</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">13</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่แบบฝึกหัด"</div>
        </div>
        <div class="q-pt-xl">
          <img src="../statics/LTIPS/LTIPS6.png" alt />
        </div>
        <div align="center" @click="openLanguage()" class="cursor-pointer q-py-md f20 cl1">
          <u>ดูตัวอย่างหน้าแบบฝึกหัดของนักเรียน</u>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">14</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">15</div>
          </div>
          <div class="col self-start label">
            เวลาที่เหลือในการทำแบบฝึกหัดนี้ นักเรียนไม่จำเป็นต้องทำโจทย์จนครบทุกข้อทุกคน แต่ขอให้
            พยายามทำในกรอบเวลาที่จัดให้ เพื่อทำให้การเรียนครบถ้วนทันตามหลักสูตร แต่ถ้าคุณครูเห็นว่า
            นักเรียนส่วนใหญ่ยังทำแบบฝึกหัดไม่ทัน คุณครูสามารถต่อเวลาเพิ่มเติมได้อีก 2 นาที โดย จะมีหน้าต่าง
            ขึ้นมาถามตอนก่อนหมดเวลา 30 วินาที
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">16</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">17</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">18</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md row">
            <div class="label2">หน้าความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ (ปุ่มจากข้อ</div>
            <span class="caption3 q-mx-sm" align="center">17</span>)
          </div>
          <img src="../statics/LTIPS/LTIPS7.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">19</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">20</div>
          </div>
          <div class="col self-start label">เวลาสำหรับการทำแบบฝึกหัด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">21</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">22</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">23</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS8.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">24</div>
          </div>
          <div class="col self-start label">
            กดเพื่อ ทำแบบฝึกหัดใหม่อีกครั้ง โดยคะแนนที่นักเรียนได้ทำไปแล้วในแบบฝึกหัดนี้จะไม่มี
            การบันทึกใดๆ ทั้งสิ้น
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">25</div>
          </div>
          <div class="col self-start label">กดปุ่ม "บทเรียนถัดไป"</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">3). แบบฝึกหัด Role play</div>
          <img src="../statics/LTIPS/LTIPS9.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">26</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">27</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่บทเรียน"</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">3). แบบฝึกหัด Role play</div>
          <img src="../statics/LTIPS/LTIPS10.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">28</div>
          </div>
          <div class="col self-start label">กดเพื่อเรียนเนื้อหา แบบ "พูดพร้อมกัน"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">29</div>
          </div>
          <div class="col self-start label">กดเพื่อเรียนเนื้อหา แบบ "แบ่งกลุ่มพูด"</div>
        </div>
        <div class="q-pt-xl">
          <div class="f24 q-pb-md label2">กรณีเลือกเรียนแบบ "แบ่งกลุ่มพูด"</div>
          <img src="../statics/LTIPS/LTIPS11.png" alt />
        </div>
        <div align="center" @click="openRole()" class="cursor-pointer q-py-md f20 cl1">
          <u>ดูตัวอย่างหน้าแบบฝึกหัดของนักเรียน</u>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">30</div>
          </div>
          <div class="col self-start label">แสดงจำนวนนักเรียนที่เลือกแล้ว</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">31</div>
          </div>
          <div class="col self-start label">แสดงจำนวนนักเรียนที่เลือกบทบาทผู้สนทนา</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">32</div>
          </div>
          <div class="col self-start label">กดปุ่ม "ถัดไป"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS12.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">33</div>
          </div>
          <div class="col self-start label">ประโยคของผู้สนทนา</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">34</div>
          </div>
          <div class="col self-start label">แสดงสัญลักษณ์และชื่อบทบาทของผู้สนทนา ในประโยคปัจจุบัน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">35</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">36</div>
          </div>
          <div
            class="col self-start label"
          >กดเพื่อ ฟังเสียงประโยคสนทนา คุณครูควรจะให้นักเรียนฝึกพูดประโยคสนทนาตามบทบาทที่นักเรียนเลือก</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">37</div>
          </div>
          <div class="col self-start label">กดเพื่อไปยัง ประโยค ถัดไป</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">กรณีหน้าประโยคสนทนาสุดท้าย</div>
          <img src="../statics/LTIPS/LTIPS13.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">38</div>
          </div>
          <div class="col self-start label">สามารถกดเพื่อกลับไปดูประโยคสนทนา ก่อนหน้านี้ได้</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">39</div>
          </div>
          <div class="col self-start label">กดเพื่อ เรียนใหม่อีกครั้ง</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">40</div>
          </div>
          <div class="col self-start label">กดเพื่อ จบบทเรียน</div>
        </div>
        <div class="q-pt-xl">
          <div
            class="bg4 cl3 f20"
            align="center"
            style="width:100px;border-top-left-radius: 10px;border-top-right-radius: 10px;"
          >กรณีพิเศษ</div>
          <div class="special q-pa-lg">
            <div class="f20 q-pb-sm">กรณีเลือกเรียนแบบ "พูดพร้อมกัน"</div>
            <div class="q-pb-xl">
              <img src="../statics/LTIPS/LTIPS14.png" alt />
            </div>
            <div class="row">
              <div class="col-1" style="width:50px" align="center">
                <div class="caption2">41</div>
              </div>
              <div class="col self-start label">สัญลักษณ์แสดงลำดับผู้สนทนาจะถูกเปลี่ยนตามรูป</div>
            </div>
            <div class="row q-pt-md">
              <div class="col-1" style="width:50px" align="center">
                <div class="caption">42</div>
              </div>
              <div
                class="col self-start label"
              >กดเพื่อ ฟังเสียงประโยคสนทนา คุณครูควรจะให้นักเรียนฝึกพูดพร้อมกัน</div>
            </div>
          </div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS15.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">43</div>
          </div>
          <div class="col self-start label">กดเพื่อ เรียนใหม่อีกครั้ง</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">44</div>
          </div>
          <div class="col self-start label">กดเพื่อเข้าสู่ บทเรียนถัดไป</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">45</div>
          </div>
          <div class="col self-start label">
            กดให้คะแนนพิเศษ และเข้าสู่บทเรียนถัดไป ถ้าคุณครูเห็นว่านักเรียนในห้องพร้อมใจกันฝึกพูด
            ประโยคสนทนา และตั้งใจเรียน คุณครูสามารถให้คะแนนพิเศษได้
          </div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">4). บทเรียน Conversation</div>
          <img src="../statics/LTIPS/LTIPS16.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">46</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">47</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่บทเรียน"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS17.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">48</div>
          </div>
          <div class="col self-start label">คุณครูพานักเรียนดูวิดีโอบทสนาทา</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">49</div>
          </div>
          <div class="col self-start label">กดปุ่ม "จบบทเรียน"</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">5). แบบฝึกหัด Listening Practice</div>
          <img src="../statics/LTIPS/LTIPS18.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">50</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">51</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่แบบฝึกหัด"</div>
        </div>
        <div class="q-pt-xl">
          <img src="../statics/LTIPS/LTIPS19.png" alt />
        </div>
        <div align="center" @click="openListening()" class="cursor-pointer q-py-md f20 cl1">
          <u>ดูตัวอย่างหน้าแบบฝึกหัดของนักเรียน</u>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">52</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">53</div>
          </div>
          <div class="col self-start label">
            เวลาที่เหลือในการทำแบบฝึกหัดนี้ นักเรียนไม่จำเป็นต้องทำโจทย์จนครบทุกข้อทุกคน แต่ขอให้
            พยายามทำในกรอบเวลาที่จัดให้ เพื่อทำให้การเรียนครบถ้วนทันตามหลักสูตร แต่ถ้าคุณครูเห็นว่า
            นักเรียนส่วนใหญ่ยังทำแบบฝึกหัดไม่ทัน คุณครูสามารถต่อเวลาเพิ่มเติมได้อีก 2 นาที โดย จะมีหน้าต่าง
            ขึ้นมาถามตอนก่อนหมดเวลา 30 วินาที
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">54</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">55</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">56</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md row">
            <div class="label2">หน้าความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ (ปุ่มจากข้อ</div>
            <span class="caption3 q-mx-sm" align="center">55</span>)
          </div>
          <img src="../statics/LTIPS/LTIPS20.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">57</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">58</div>
          </div>
          <div class="col self-start label">เวลาสำหรับการทำแบบฝึกหัด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">59</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">60</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">61</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS21.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">62</div>
          </div>
          <div class="col self-start label">
            กดเพื่อ ทำแบบฝึกหัดใหม่อีกครั้ง โดยคะแนนที่นักเรียนได้ทำไปแล้วในแบบฝึกหัดนี้จะไม่มี
            การบันทึกใดๆ ทั้งสิ้น
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">63</div>
          </div>
          <div
            class="col self-start label"
          >ในกรณีที่แบบฝึกหัดสุดท้ายของ การพูดและฟัง จะมีปุ่ม “สรุปคะแนน” ปรากฏขึ้น แทนปุ่ม "บทเรียนต่อไป"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/LTIPS/LTIPS22.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">64</div>
          </div>
          <div class="col self-start label">ตรวจสอบคะแนนของนักเรียนในบทเรียน การพูดและฟัง</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">65</div>
          </div>
          <div class="col self-start label">กดปุ่ม "บทเรียนถัดไป"</div>
        </div>
      </div>
      <!-- ปุ่ม -->
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                style="width:100%;max-width:200px; height:60px  "
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
                <span class="q-px-md">ก่อนหน้านี้</span>
              </q-btn>
            </div>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
              </q-btn>
            </div>
          </div>
        </div>
        <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <q-btn
              @click="nextBtn()"
              style="width:100%;max-width:200px; height:60px  "
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <span class="q-px-md">หน้าถัดไป</span>
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="nextBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-right"></i>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
      <!-- dialog practice -->
      <q-dialog v-model="popupDialog">
        <div class="bg3 q-pt-md" style="width:100%;max-width:950px ; margin:auto;">
          <div class="q-px-md">
            <div class="row">
              <div class="col-11 self-center label2">หน้าแบบฝึกหัด Dialog Practice ของนักเรียน</div>
              <div class="col-1" align="right">
                <q-icon
                  @click="closeLanguage()"
                  class="cursor-pointer"
                  style="font-size:calc(40px + 0.5vw)"
                  name="fas fa-times"
                />
              </div>
            </div>
            <div class="q-pb-md" align="center">
              <img src="../statics/LTIPS/popup-practice.png" alt />
            </div>
          </div>
        </div>
      </q-dialog>
      <!-- dialog listening -->
      <q-dialog v-model="popupListening">
        <div class="bg3 q-pt-md" style="width:100%;max-width:950px ; margin:auto;">
          <div class="q-px-md">
            <div class="row">
              <div class="col-11 self-center label2">หน้าแบบฝึกหัด Listening Practice ของนักเรียน</div>
              <div class="col-1" align="right">
                <q-icon
                  @click="closeListening()"
                  class="cursor-pointer"
                  style="font-size:calc(40px + 0.5vw)"
                  name="fas fa-times"
                />
              </div>
            </div>
            <div class="q-pb-md" align="center">
              <img src="../statics/LTIPS/popup-Listening.png" alt />
            </div>
          </div>
        </div>
      </q-dialog>
      <!-- dialog role play -->
      <q-dialog v-model="popupRole">
        <div class="bg3 q-pt-md" style="width:100%;max-width:950px ; margin:auto;">
          <div class="q-px-md">
            <div class="row">
              <div class="col-11 self-center label2">หน้าแบบฝึกหัด Role play ของนักเรียน</div>
              <div class="col-1" align="right">
                <q-icon
                  @click="closeRole()"
                  class="cursor-pointer"
                  style="font-size:calc(40px + 0.5vw)"
                  name="fas fa-times"
                />
              </div>
            </div>
            <div class="q-pb-md" align="center">
              <img src="../statics/LTIPS/popup-role.png" alt />
            </div>
          </div>
        </div>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      popupRole: false,
      popupListening: false,
      popupDialog: false,
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    openListening() {
      this.popupListening = true;
    },
    closeListening() {
      this.popupListening = false;
    },
    openRole() {
      this.popupRole = true;
    },
    closeRole() {
      this.popupRole = false;
    },
    openLanguage() {
      this.popupDialog = true;
    },
    closeLanguage() {
      this.popupDialog = false;
    },
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/user");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/phonics");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>