<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">การเข้าสู่ระบบ</div>
        <div class="f18" align="center">การเข้าสู่ระบบ มีขั้นตอนตามลำดับ ดังนี้</div>
        <div class="q-py-xl">
          <img src="../statics/01-1.jpg" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กรอก "รหัสผู้ใช้งาน"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">กรอก "รหัสผ่าน"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">เลือก "คุณครู"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">4</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่ระบบ"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/01-2.jpg" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">5</div>
          </div>
          <div class="col self-start label">เลือก "ชั้น"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">6</div>
          </div>
          <div class="col self-start label">กรอก "รหัสผ่าน"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">7</div>
          </div>
          <div class="col self-start label">เลือก "คุณครู"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/01-3.jpg" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">8</div>
          </div>
          <div class="col self-start label">จำนวนนักเรียนที่ยังไม่เข้าสู่ระบบ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">9</div>
          </div>
          <div
            class="col label self-start"
          >กดปุ่ม "ขึ้นเรือ" หากนักเรียนยังเข้าระบบไม่ครบจะเข้าสู่ขั้นตอนตรวจสอบสถานะนักเรียน (แต่หากนักเรียนเข้าระบบครบแล้วจะเข้าสุ่การเรียน)</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/01-4.jpg" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">10</div>
          </div>
          <div
            class="col self-start label"
          >ตรวจสอบสถานะนักเรียน ( ไม่มาเรียนหรือไม่สามารถเข้าใช้งานได้ )</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">11</div>
          </div>
          <div class="col self-start label">กดปุ่ม "ถัดไป"</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/01-5.jpg" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">12</div>
          </div>
          <div class="col self-start label">สำหรับนักเรียนที่ไม่มาเรียน เลือก "ขาดเรียน"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">13</div>
          </div>
          <div
            class="col label self-start"
          >สำหรับนักเรียนที่ต้องนั่งเรียนคู่กับเพื่อน เลือกเลขที่นักเรียนสำหรับจับคู่กับเพื่อนเพื่อเรียนไปพร้อมกัน</div>
        </div>
        <div class="row q-pt-md q-pb-xl">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">14</div>
          </div>
          <div class="col self-start label">กดปุ่ม "ตกลง" เพื่อเข้าสู่การเรียน</div>
        </div>
      </div>
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <div>
              <q-btn
                disable
                style="width:100%;max-width:200px; height:60px  "
                class="bg-grey-7 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
                <span class="q-px-md">ก่อนหน้านี้</span>
              </q-btn>
            </div>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn disable size="16px" round class="bg-grey-7 text-white f20" unelevated rounded>
                <i class="fas fa-chevron-left"></i>
              </q-btn>
            </div>
          </div>
        </div>
        <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <q-btn
              @click="nextBtn()"
              style="width:100%;max-width:200px; height:60px  "
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <span class="q-px-md">หน้าถัดไป</span>
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="nextBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-right"></i>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/voting");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>