<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div style="width:100%;max-width:900px ; margin:auto;">
      <div class="q-px-md">
        <div style="width:100%;max-width:900px ; margin:auto;">
          <div class="cl1 f26 q-pt-xl" align="center">ปัญหาการใช้งาน</div>
          <div class="f24 q-py-md" align="center">FAQ : คำถามที่พบบ่อย</div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q1 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>นักเรียนขาดเรียนต้องทำาอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A1 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            คุณครูสามารถดำเนินการเรียนการสอนตามขั้นตอนในหัวข้อ
            <u
              class="cl5 cursor-pointer"
              @click="login()"
            >การเข้าสู่ระบบ</u> สำหรับนักเรียนที่ขาดเรียน
            สามารถเรียนในชั่วโมงต่อไปได้ตามปกติ และสามารถศึกษาเนื้อหาที่ขาดเรียนด้วยตัวเองได้ที่ Winner Plus
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q2 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>นักเรียนมาเรียนสาย ต้องทำอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A2 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            กรณีที่เครื่องคอมพิวเตอร์เพียงพอ นักเรียนที่มาสายสามารถเข้าเรียนได้ตามปกติ กรณีที่เครื่องคอมพิวเตอร์
            ไม่เพียงพอ ต้องนั่งเรียนกับเพื่อน นักเรียนที่มาเรียนสายต้องรอให้เพื่อนเรียนจบแบบฝึกหัดก่อนแล้วให้คุณครู
            กดไอคอน
            <img
              class="q-mx-sm"
              style="width:25px"
              src="../statics/questions-1.png"
              alt
            />เพื่อเพิ่มนักเรียนที่มาเรียนสายเข้าสู่บทเรียน
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q3 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>การเรียนแบบจับคู่ ต้องทำาอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A3 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            สามารถดูรายละเอียดได้ที่
            <u
              class="cl5 cursor-pointer"
              @click="login()"
            >การเข้าสู่ระบบ หัวข้อที่ 11-14</u>
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q4 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>กรณีทำการสอนแล้วเวลาหมดก่อน ต้องทำอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A4 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            ในส่วนของการสอน เวลาที่ระบบจัดให้เป็นเพียงตัวกำหนดเพื่อวางแผนการสอนสำหรับคุณครูเท่านั้น
            เมื่อทำการสอนในสถานการณ์จริง การกำหนดเวลาให้เป็นไปตาม ดุลยพินิจของคุณครูเอง
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q5 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>กรณีทำแบบฝึกหัดแล้วเวลาหมดก่อน ต้องทำอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A5 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            ในส่วนของแบบฝึกหัด ขอให้เป็นไปตามเวลาที่กำหนด นักเรียนไม่จำเป็นต้องทำเสร็จทั้งหมด
            แต่หากต้องการเพิ่มเวลา สามารถทำได้ 1 ครั้ง เพื่อเพิ่มเวลา 2 นาที ต่อแบบฝึกหัด
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q6 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>ถ้าหน้าจอคอมพิวเตอร์ของนักเรียนต่างจากนักเรียนคนอื่น ต้องทำาอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A6 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            ให้นักเรียนกดโหลดหน้าเว็บใหม่อีกครั้ง
            <img
              class="q-mx-sm"
              style="width:25px"
              src="../statics/questions-2.png"
              alt
            />
          </div>
        </div>
        <div align="center">
          <img src="../statics/refresh.png" alt />
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q7 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>ถ้านักเรียน เรียนผ่านบทเรียนนั้น ๆ ไปแล้ว จะเรียนซ้ำอีกได้หรือไม่</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A7 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            ในส่วนของแบบฝึกหัด ไม่สามารถเข้าเรียนในส่วนที่เรียนไปแล้วได้ แต่ในส่วนของเนื้อหาการสอน
            สามารถเข้าเรียนซ้ำกี่ครั้งก็ได้
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q8 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>สามารถเปลี่ยนภารกิจ ระหว่างการเรียนได้หรือไม่</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A8 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            ไม่สามารถเปลี่ยนภารกิจที่เลือกไปแล้วได้ จะต้องทำภารกิจที่เลือกแล้วให้เสร็จสิ้นก่อนถึงจะเลือกภารกิจ
            ใหม่ได้
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q9 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>ไม่สามารถเข้าสู่ระบบได้ ต้องทำาอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A9 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <div>1. ทำการตรวจสอบการเชื่อมต่อของระบบอินเตอร์เน็ตว่าเชื่อมต่ออยู่หรือไม่</div>
            <div>2. ทำการตรวจสอบว่าใช้ Google Chrome เวอร์ชั่นล่าสุด ในการใช้งาน Winner Adventures หรือไม่</div>
            <div>3. เข้าสู่หน้า Winner Adventures และ Refresh หน้าเว็บใหม่อีกครั้ง</div>
            <div>4. หากไม่สามารถใช้งานได้ กรุณาติดต่อผู้ประสานงานโรงเรียน</div>
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q10 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>คุณครูลืม ชื่อผู้ใช้งานและรหัสผ่าน ต้องทำอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A10 :</div>
          <div
            :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}"
          >สามารถติดต่อกับผู้ประสานงานโรงเรียนเพื่อขอรับ รหัสผู้ใช้งาน และ รหัสผ่านใหม่</div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q11 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>นักเรียนลืม ชื่อผู้ใช้งานและรหัสผ่าน ต้องทำอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A11 :</div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            สามารถแจ้งกับคุณครูประจำชั้นเพื่อขอรับ รหัสผู้ใช้งาน และ รหัสผ่านใหม่ คุณครูสามารถเข้าดู
            ชื่อผู้ใช้งานและรหัสผ่านของนักเรียนได้ที่
            <u
              class="cl5 cursor-pointer"
              @click="dataFile()"
            >แฟ้มข้อมูล</u>
          </div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q12 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>คูณครู ต้องการแก้ไขข้อมูล ชื่อ - นามสกุล, เบอร์โทรศัพท์ ของตนเองต้องทำอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A12 :</div>
          <div
            :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}"
          >สามารถติดต่อกับผู้ประสานงานโรงเรียนเพื่อขอเปลี่ยนแปลงและแก้ไขข้อมูลส่วนตัว</div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q13 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>นักเรียนเข้าใหม่, ลาออก, เปลี่ยนชื่อ, เปลื่ยนห้องเรียน ต้องทำอย่างไร</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A13 :</div>
          <div
            :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}"
          >สามารถติดต่อกับผู้ประสานงานโรงเรียนเพื􀏧อแจ้งเปลี่ยนแปลงและแก้ไขข้อมูลนักเรียน</div>
        </div>
        <div class="row q-pt-xl f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">
            <b>Q14 :</b>
          </div>
          <div :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}">
            <b>พบปัญหา / ข้อสงสัย สามารถติดต่อสอบถามได้ที่ไหน</b>
          </div>
        </div>
        <div class="row q-pt-md f18">
          <div :class="{'col-1':innerWidth>=1000 ,'col-2':innerWidth<1000}">A14 :</div>
          <div
            :class="{'col-11':innerWidth>=1000 ,'col-10':innerWidth<1000}"
          >ผู้สามารถติดต่อกับผู้ประสานงานโรงเรียนเพื่อแจ้งปัญหาและสอบถามข้อมูลเพิ่มเติม</div>
        </div>
      </div>
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-12':innerWidth>=1000 ,'col-10':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm brx">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/vocab");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/login");
    },
    login() {
      this.$router.push("/login");
    },
    dataFile() {
      this.$router.push("/datafile");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>