<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">การอ่าน</div>
        <div class="f18" align="center">การเข้าสู่บทเรียน การอ่าน มีดังนี้</div>
        <div class="q-py-xl">
          <img src="../statics/reading/reading1.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เริ่มเดินทาง"</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">1). บทเรียน Reading</div>
          <img src="../statics/reading/reading2.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">2</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่บทเรียน"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/reading/reading3.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">4</div>
          </div>
          <div class="col self-start label">เนื้อหาของบทเรียน Reading</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">5</div>
          </div>
          <div
            class="col self-start label"
          >เวลาที่แนะนำสำหรับการเรียน แต่ระยะเวลาในการสอนจริงนั้น อาจจะแตกต่างจากเวลาที่แนะนำได้ ขึ้นอยู่กับดุลพิจนิจของคุณครูผู้สอน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">6</div>
          </div>
          <div
            class="col self-start label"
          >กดเพื่อ ฟังเสียงประโยค คุณครูควรจะให้นักเรียนอ่านพร้อมกัน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">7</div>
          </div>
          <div class="col self-start label">กดเพื่อไปยัง ประโยค ถัดไป</div>
        </div>

        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">กรณีหน้าประโยคสุดท้าย</div>
          <img src="../statics/reading/reading4.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">8</div>
          </div>
          <div class="col self-start label">สามารถกดเพื่อกลับไปดูประโยค ก่อนหน้านี้ได้</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">9</div>
          </div>
          <div class="col self-start label">กดปุ่ม “จบบทเรียน”</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/reading/reading5.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">10</div>
          </div>
          <div class="col self-start label">กดเพื่อ เรียนใหม่อีกครั้ง</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">11</div>
          </div>
          <div class="col self-start label">กดเพื่อเข้าสู่ บทเรียนถัดไป</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">12</div>
          </div>
          <div class="col self-start label">
            กดให้คะแนนพิเศษ และเข้าสู่บทเรียนถัดไป ถ้าคุณครูเห็นว่านักเรียนในห้องพร้อมใจกันออกเสียง
            ประโยคและตั้งใจเรียน คุณครูสามารถให้คะแนนพิเศษได้
          </div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md label2">2). บทเรียน Reading Practice</div>
          <img src="../statics/reading/reading6.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">13</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">14</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่แบบฝึกหัด"</div>
        </div>

        <div class="q-pt-xl">
          <img src="../statics/reading/reading7.png" alt />
        </div>
        <div align="center" @click="openReading()" class="cursor-pointer q-py-md f20 cl1">
          <u>ดูตัวอย่างหน้าแบบฝึกหัดของนักเรียน</u>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">15</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">16</div>
          </div>
          <div class="col self-start label">
            เวลาที่เหลือในการทำแบบฝึกหัดนี้ นักเรียนไม่จำเป็นต้องทำโจทย์จนครบทุกข้อทุกคน แต่ขอให้
            พยายามทำในกรอบเวลาที่จัดให้ เพื่อทำให้การเรียนครบถ้วนทันตามหลักสูตร แต่ถ้าคุณครูเห็นว่า
            นักเรียนส่วนใหญ่ยังทำแบบฝึกหัดไม่ทัน คุณครูสามารถต่อเวลาเพิ่มเติมได้อีก 2 นาที โดย จะมีหน้าต่าง
            ขึ้นมาถามตอนก่อนหมดเวลา 30 วินาที
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">17</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">18</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">19</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>

        <div class="q-py-xl">
          <div class="f24 q-pb-md row">
            <div class="label2">หน้าความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ (ปุ่มจากข้อ</div>
            <span class="caption3 q-mx-sm" align="center">18</span>)
          </div>
          <img src="../statics/reading/reading8.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">20</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">21</div>
          </div>
          <div class="col self-start label">เวลาสำหรับการทำแบบฝึกหัด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">22</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">23</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">24</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>

        <div class="q-py-xl">
          <img src="../statics/reading/reading9.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">25</div>
          </div>
          <div class="col self-start label">เนื้อหาสำหรับอธิบาย ของแบบฝึกหัด Reading ภาษาไทย</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">26</div>
          </div>
          <div class="col self-start label">เนื้อหาสำหรับอธิบาย ของแบบฝึกหัด Reading ภาษาอังกฤษ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">27</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “ดูคะแนน” เมื่อคุณครูอธิบายเนื้อหาของแบบฝึกหัด Reading เสร็จสิ้น</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/reading/reading10.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">28</div>
          </div>
          <div class="col self-start label">
            กดเพื่อ ทำแบบฝึกหัดใหม่อีกครั้ง โดยคะแนนที่นักเรียนได้ทำไปแล้วในแบบฝึกหัดนี้จะไม่มี
            การบันทึกใดๆ ทั้งสิ้น
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">29</div>
          </div>
          <div class="col self-start label">กดปุ่ม "สรุปคะแนน"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/reading/reading11.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">30</div>
          </div>
          <div class="col self-start label">ตรวจสอบคะแนนของนักเรียนในบทเรียน การอ่าน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">31</div>
          </div>
          <div class="col self-start label">กดปุ่ม "บทเรียนถัดไป"</div>
        </div>
      </div>
      <!-- ปุ่ม -->
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                style="width:100%;max-width:200px; height:60px  "
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
                <span class="q-px-md">ก่อนหน้านี้</span>
              </q-btn>
            </div>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
              </q-btn>
            </div>
          </div>
        </div>
        <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <q-btn
              @click="nextBtn()"
              style="width:100%;max-width:200px; height:60px  "
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <span class="q-px-md">หน้าถัดไป</span>
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="nextBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-right"></i>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
      <!-- dialog reading -->
      <q-dialog v-model="popupReading">
        <div class="bg3 q-pt-md" style="width:100%;max-width:950px ; margin:auto;">
          <div class="q-px-md">
            <div class="row">
              <div class="col-11 self-center label2">หน้าแบบฝึกหัด Reading Practice ของนักเรียน</div>
              <div class="col-1" align="right">
                <q-icon
                  @click="closeReading()"
                  class="cursor-pointer"
                  style="font-size:calc(40px + 0.5vw)"
                  name="fas fa-times"
                />
              </div>
            </div>
            <div class="q-pb-md" align="center">
              <img src="../statics/reading/popup-Reading.png" alt />
            </div>
          </div>
        </div>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      popupReading: false,
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    openReading() {
      this.popupReading = true;
    },
    closeReading() {
      this.popupReading = false;
    },
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/translation");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/grammar");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>