<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">คะแนน</div>
        <div class="f18" align="center">หน้าคะแนน มีรายละเอียดและวิธี ดังนี้</div>
        <div class="q-py-xl">
          <img src="../statics/score/score-1.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">A</div>
          </div>
          <div class="col self-start label">
            กดปุ่ม “รายงานผลการเรียน” สามารถเข้าไปตรวจสอบคะแนนของนักเรียน โดยคุณครูสามารถเลือกดู
            "รายงานแยกตามทักษะ" หรือ "รายงานคะแนนรวมเฉลี่ย" ของแต่ละ Unit ได้ โดยสามารถดูข้อมูล
            เพิ่มเติมได้ที่
            <span
              class="cl5 cursor-pointer"
            >
              <u>A). รายงานผลการเรียน</u>
            </span>
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">B</div>
          </div>
          <div class="col self-start label">
            กดปุ่ม “คะแนนเก็บ” สามารถเข้าไปคำนวณและตรวจสอบคะแนนของนักเรียนได้ โดยคุณครู
            สามารถจัดการเลือกคำนวณคะแนน ในแต่ละทักษะได้ตามดุลยพินิจของคุณครู โดยสามารถดูข้อมูล
            เพิ่มเติมได้ที่
            <span
              class="cl5 cursor-pointer"
            >
              <u>B). คะแนนเก็บ</u>
            </span>
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">C</div>
          </div>
          <div class="col self-start label">
            กดปุ่ม “คะแนน Pre-test / Post-test” สามารถเข้าไปตรวจสอบคะแนนสอบ ก่อนเรียน และ หลังเรียน
            ของนักเรียนได้ โดยสามารถดูข้อมูลเพิ่มเติมได้ที่
            <span
              class="cl5 cursor-pointer"
            >
              <u>C). คะแนน Pre-test / Post-test</u>
            </span>
          </div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-sm label2">A). รายงานผลการเรียน</div>
          <img src="../statics/score/score-2.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดเพื่อ ย้อนกลับไปก่อนหน้านี้</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">เลือก "ชั้น/ห้อง"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">เลือก "Unit"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">4</div>
          </div>
          <div
            class="col self-start label"
          >เลือก "รายงานแยกตามทักษะ" โดยคะแนนใน Unit ที่เลือก จะถูกคำนวณแยกตามทักษะ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">5</div>
          </div>
          <div
            class="col self-start label"
          >เลือก "รายงานคะแนนรวมเฉลี่ย" โดยคะแนนใน Unit ที่เลือก จะถูกคำนวณรวมเฉลี่ย</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/score/score-3.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">6</div>
          </div>
          <div class="col self-start label">รายงานที่แสดงตามข้อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">7</div>
          </div>
          <div class="col self-start label">กดปุ่มเพื่อ บันทึกเป็นไฟล์ PDF</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">8</div>
          </div>
          <div class="col self-start label">กดปุ่มเพื่อ พิมพ์</div>
        </div>

        <div class="q-py-xl">
          <div class="f24 q-pb-sm label2">B). คะแนน</div>
          <img src="../statics/score/score-4.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดเพื่อ ย้อนกลับไปก่อนหน้านี้</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">เลือก "ชั้น/ห้อง"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">เลือก Unit หรือ ช่วง Unit ที่ต้องการนำมาคำนวณคะแนนเก็บ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">4</div>
          </div>
          <div class="col self-start label">เลือก ทักษะที่ต้องการเก็บคะแนน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">5</div>
          </div>
          <div class="col self-start label">ใส่คะแนนเต็มรวมที่ต้องการ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">6</div>
          </div>
          <div class="col self-start label">กดปุ่ม "คำนวณ"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/score/score-5.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">7</div>
          </div>
          <div class="col self-start label">ตารางผลการเรียนที่ถูกคำนวณ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">8</div>
          </div>
          <div class="col self-start label">กดปุ่มเพื่อ บันทึกเป็นไฟล์ PDF</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">9</div>
          </div>
          <div class="col self-start label">กดปุ่มเพื่อ พิมพ์</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-sm label2">C). คะแนน Pre-test / Post-test</div>
          <img src="../statics/score/score-6.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดเพื่อ ย้อนกลับไปก่อนหน้านี้</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">เลือก "ระดับชั้น"</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">3</div>
          </div>
          <div
            class="col self-start label"
          >กรณีห้องที่เลือกยังไม่ทำการสอบ จะแสดงข้อความบอกคุณครูว่า "ยังไม่ทำการสอบ"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/score/score-7.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">4</div>
          </div>
          <div
            class="col self-start label"
          >กรณีห้องที่เลือกมีการสอบไปแล้ว จะแสดงข้อมูลตารางคะแนน Pre - test / Post - test</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">5</div>
          </div>
          <div class="col self-start label">กดปุ่มเพื่อ บันทึกเป็นไฟล์ PDF</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">6</div>
          </div>
          <div class="col self-start label">กดปุ่มเพื่อ พิมพ์</div>
        </div>
      </div>
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                style="width:100%;max-width:200px; height:60px  "
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
                <span class="q-px-md">ก่อนหน้านี้</span>
              </q-btn>
            </div>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
              </q-btn>
            </div>
          </div>
        </div>
        <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <q-btn
              @click="nextBtn()"
              style="width:100%;max-width:200px; height:60px  "
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <span class="q-px-md">หน้าถัดไป</span>
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="nextBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-right"></i>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/datafile");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/user");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>