<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">การเขียน</div>
        <div class="f18" align="center">การเข้าสู่บทเรียน การเขียน มีดังนี้</div>
        <div class="q-py-xl">
          <img src="../statics/translation/tran1.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เริ่มเดินทาง"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/translation/tran2.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">2</div>
          </div>
          <div class="col self-start label">อ่านคำสั่งให้ละเอียด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">3</div>
          </div>
          <div class="col self-start label">กดปุ่ม "เข้าสู่แบบฝึกหัด"</div>
        </div>

        <div class="q-pt-xl">
          <img src="../statics/translation/tran3.png" alt />
        </div>
        <div align="center" @click="openTran()" class="cursor-pointer q-py-md f20 cl1">
          <u>ดูตัวอย่างหน้าแบบฝึกหัดของนักเรียน</u>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">4</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">5</div>
          </div>
          <div class="col self-start label">
            เวลาที่เหลือในการทำแบบฝึกหัดนี้ นักเรียนไม่จำเป็นต้องทำโจทย์จนครบทุกข้อทุกคน แต่ขอให้
            พยายามทำในกรอบเวลาที่จัดให้ เพื่อทำให้การเรียนครบถ้วนทันตามหลักสูตร แต่ถ้าคุณครูเห็นว่า
            นักเรียนส่วนใหญ่ยังทำแบบฝึกหัดไม่ทัน คุณครูสามารถต่อเวลาเพิ่มเติมได้อีก 2 นาที โดย จะมีหน้าต่าง
            ขึ้นมาถามตอนก่อนหมดเวลา 30 วินาที
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">6</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">7</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">8</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <div class="f24 q-pb-md row">
            <div class="label2">หน้าความก้าวหน้าของนักเรียนในรูปแบบตารางรายชื่อ (ปุ่มจากข้อ</div>
            <span class="caption3 q-mx-sm" align="center">7</span>)
          </div>
          <img src="../statics/translation/tran4.png" alt />
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">9</div>
          </div>
          <div class="col self-start label">แสดงความก้าวหน้าในการทำแบบฝึกหัดของนักเรียนแบบรายชื่อ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">10</div>
          </div>
          <div class="col self-start label">เวลาสำหรับการทำแบบฝึกหัด</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">11</div>
          </div>
          <div class="col self-start label">ตรวจสอบนักเรียนที่ทำแบบฝึกหัดเสร็จ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">12</div>
          </div>
          <div class="col self-start label">กดเพื่อ ดูความก้าวหน้าของนักเรียนในรูปแบบกราฟ</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">13</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “จบแบบฝึกหัด” เมื่อคุณครูเห็นว่านักเรียนในห้องทำแบบฝึกหัดเสร็จก่อนหมดเวลา</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/translation/tran5.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">14</div>
          </div>
          <div class="col self-start label">เนื้อหาสำหรับอธิบาย ของแบบฝึกหัด Translation</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">15</div>
          </div>
          <div
            class="col self-start label"
          >กดปุ่ม “ดูคะแนน” เมื่อคุณครูอธิบายเนื้อหาของแบบฝึกหัด Translation เสร็จสิ้น</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/translation/tran6.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">16</div>
          </div>
          <div class="col self-start label">
            กดเพื่อ ทำแบบฝึกหัดใหม่อีกครั้ง โดยคะแนนที่นักเรียนได้ทำไปแล้วในแบบฝึกหัดนี้จะไม่มี
            การบันทึกใดๆ ทั้งสิ้น
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">17</div>
          </div>
          <div class="col self-start label">กดปุ่ม "สรุปคะแนน"</div>
        </div>
        <div class="q-py-xl">
          <img src="../statics/translation/tran7.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption2">18</div>
          </div>
          <div class="col self-start label">ตรวจสอบคะแนนของนักเรียนในบทเรียน การเขียน</div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">19</div>
          </div>
          <div class="col self-start label">กดปุ่ม "บทเรียนถัดไป"</div>
        </div>
      </div>
      <!-- ปุ่ม -->
      <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                style="width:100%;max-width:200px; height:60px  "
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
                <span class="q-px-md">ก่อนหน้านี้</span>
              </q-btn>
            </div>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="backBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-left"></i>
              </q-btn>
            </div>
          </div>
        </div>
        <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
          <div align="center" v-if="innerWidth>=1000">
            <q-btn
              @click="homeBtn()"
              class="cl1 label"
              style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
          <div align="center" v-if="innerWidth<1000" class="q-px-sm">
            <q-btn
              @click="homeBtn()"
              size="17px"
              style="width:100%;max-width:450px; "
              class="btn1 fit cl1 bg1 cl3"
              flat
              rounded
              label="การเรียนรู้การใช้งาน"
            />
          </div>
        </div>
        <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
          <div class="q-py-md" v-show="innerWidth>=1000" align="center">
            <q-btn
              @click="nextBtn()"
              style="width:100%;max-width:200px; height:60px  "
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <span class="q-px-md">หน้าถัดไป</span>
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
          <div class="q-py-md" v-show="innerWidth<1000" align="center">
            <div>
              <q-btn
                @click="nextBtn()"
                size="16px"
                round
                class="bg1 text-white f20"
                unelevated
                rounded
              >
                <i class="fas fa-chevron-right"></i>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
      <!-- dialog translation -->
      <q-dialog v-model="popupTran">
        <div class="bg3 q-pt-md" style="width:100%;max-width:950px ; margin:auto;">
          <div class="q-px-md">
            <div class="row">
              <div class="col-11 self-center label2">หน้าแบบฝึกหัด Translation ของนักเรียน</div>
              <div class="col-1" align="right">
                <q-icon
                  @click="closeTran()"
                  class="cursor-pointer"
                  style="font-size:calc(40px + 0.5vw)"
                  name="fas fa-times"
                />
              </div>
            </div>
            <div class="q-pb-md" align="center">
              <img src="../statics/translation/popup-translation.png" alt />
            </div>
          </div>
        </div>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      popupTran: false,
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    openTran() {
      this.popupTran = true;
    },
    closeTran() {
      this.popupTran = false;
    },
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/phonics");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/reading");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>