<template>
  <div class="bg" style="min-height:100vh;max-height:fit-content">
    <q-resize-observer @resize="onResize" />
    <div class="f34 cl1 q-py-xl" align="center">การเรียนรู้การใช้งาน</div>

    <div class="row q-pt-md q-px-md" style="width:100%;max-width:1200px;margin:auto">
      <!-- box1 -->
      <div class="q-pb-md" :class="{'col':innerWidth>=1000 ,'col-12':innerWidth<1000}">
        <div class="row">
          <div
            class="q-py-md"
            :class="{'col-3':innerWidth>=1000,'col-6':innerWidth<1000}"
            align="center"
          >
            <div>
              <q-btn
                @click="login()"
                style=" border-radius: 10px;width:90% ; height:190px "
                class="bg1"
                align="center"
              >
                <div class="q-py-lg">
                  <img src="../statics/01a-1.png" style="width:100% ; max-width:85px;" alt />
                </div>
                <div class="cl3 f16 q-pb-lg">1.การเข้าสู่ระบบ</div>
              </q-btn>
            </div>
          </div>
          <div
            class="q-py-md"
            :class="{'col-3':innerWidth>=1000,'col-6':innerWidth<1000}"
            align="center"
          >
            <div>
              <q-btn
                @click="voting()"
                style=" border-radius: 10px;width:90% ;  height:190px "
                class="bg1"
                align="center"
              >
                <div class="q-py-lg">
                  <img src="../statics/01a-2.png" style="width:100% ; max-width:85px;" alt />
                </div>
                <div class="cl3 f16 q-pb-lg">2.การโหลดภารกิจ</div>
              </q-btn>
            </div>
          </div>
          <div
            class="q-py-md"
            :class="{'col-3':innerWidth>=1000,'col-6':innerWidth<1000}"
            align="center"
          >
            <div>
              <q-btn
                @click="vocab()"
                style=" border-radius: 10px;width:90% ;  height:190px "
                class="bg1 row"
                align="center"
              >
                <div class="q-py-lg col-12">
                  <img src="../statics/01a-3.png" style="width:100% ; max-width:85px;" alt />
                </div>
                <div class="cl3 f16 q-pb-lg">3.คำศัพท์</div>
              </q-btn>
            </div>
          </div>

          <div
            class="q-py-md"
            :class="{'col-3':innerWidth>=1000,'col-6':innerWidth<1000}"
            align="center"
          >
            <div>
              <q-btn
                @click="grammar()"
                style=" border-radius: 10px;width:90% ; height:190px "
                class="bg1 row"
                align="center"
              >
                <div class="q-py-lg col-12">
                  <img src="../statics/01a-4.png" style="width:100% ; max-width:85px;" alt />
                </div>
                <div class="cl3 f16 q-pb-lg">4.ไวยกรณ์</div>
              </q-btn>
            </div>
          </div>

          <div
            class="q-py-md"
            :class="{'col-3':innerWidth>=1000,'col-6':innerWidth<1000}"
            align="center"
          >
            <div>
              <q-btn
                @click="reading()"
                style=" border-radius: 10px;width:90% ; height:190px "
                class="bg1 row"
                align="center"
              >
                <div class="q-py-lg col-12">
                  <img src="../statics/01a-5.png" style="width:100% ; max-width:85px;" alt />
                </div>
                <div class="cl3 f16 q-pb-lg">5.การอ่าน</div>
              </q-btn>
            </div>
          </div>
          <div
            class="q-py-md"
            :class="{'col-3':innerWidth>=1000,'col-6':innerWidth<1000}"
            align="center"
          >
            <div>
              <q-btn
                @click="translation()"
                style=" border-radius: 10px;width:90% ; height:190px "
                class="bg1 row"
                align="center"
              >
                <div class="q-py-lg col-12">
                  <img src="../statics/01a-6.png" style="width:100% ; max-width:85px;" alt />
                </div>
                <div class="cl3 f16 q-pb-lg">6.การเขียน</div>
              </q-btn>
            </div>
          </div>
          <div
            class="q-py-md"
            :class="{'col-3':innerWidth>=1000,'col-6':innerWidth<1000}"
            align="center"
          >
            <div>
              <q-btn
                @click="phonics()"
                style=" border-radius: 10px;width:90% ; height:190px "
                class="bg1"
                align="center"
              >
                <div class="q-py-lg">
                  <img src="../statics/01a-7.png" style="width:100% ; max-width:85px;" alt />
                </div>
                <div class="cl3 f16 q-pb-lg">7.การออกเสียง</div>
              </q-btn>
            </div>
          </div>
          <div
            class="q-py-md"
            :class="{'col-3':innerWidth>=1000,'col-6':innerWidth<1000}"
            align="center"
          >
            <div>
              <q-btn
                @click="language()"
                style=" border-radius: 10px;width:90% ; height:190px "
                class="bg1"
                align="center"
              >
                <div class="q-py-lg">
                  <img src="../statics/01a-8.png" style="width:100% ; max-width:85px;" alt />
                </div>
                <div class="cl3 f16 q-pb-lg">8.การพูดและฟัง</div>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
      <!-- -------------------------------------------------------------------------- -->
      <div
        class="q-py-md"
        :class="{'col-3':innerWidth>=1000 ,'col-12':innerWidth<1000}"
        style=";border-radius: 10px;"
      >
        <div
          style="border-radius: 10px; margin:auto "
          :style="[innerWidth>=1000 ? {maxWidth:'220px',width:'100%',height:'410px' } : {maxWidth:'400px',width:'100%'}]"
          class="bg2"
          :class="{'row':innerWidth<1000}"
        >
          <div class="q-py-sm" align="center" :class="{'col-6':innerWidth<1000}">
            <q-btn
              style="max-width:200px;width:95%;border-radius: 10px; "
              class="bg1 row text-white"
            >
              <div class="col-1">
                <q-icon class="cursor-pointer" size="30px" name="fas fa-user-alt" />
              </div>
              <div class="f16 q-py-md col" align="center">ข้อมูลผู้ใช้</div>
            </q-btn>
          </div>
          <!-- 2 -->

          <div class="q-py-sm" align="center" :class="{'col-6':innerWidth<1000}">
            <q-btn
              style="max-width:200px;width:95%; border-radius: 10px;"
              class="bg1 row text-white"
            >
              <div class="col-1">
                <q-icon class="cursor-pointer" size="30px" name="fas fa-star" />
              </div>
              <div class="f16 q-py-md col" align="center">คะแนน</div>
            </q-btn>
          </div>
          <!-- 2 -->

          <div class="q-py-sm" align="center" :class="{'col-6':innerWidth<1000}">
            <q-btn
              @click="datafile()"
              style="max-width:200px;width:95%; border-radius: 10px;"
              class="bg1 row text-white"
            >
              <div class="col-1">
                <q-icon class="cursor-pointer" size="30px" name="fas fa-folder" />
              </div>
              <div class="f16 q-py-md col" align="center">แฟ้มข้อมูล</div>
            </q-btn>
          </div>
          <!-- 2 -->

          <div class="q-py-sm" align="center" :class="{'col-6':innerWidth<1000}">
            <q-btn
              style="max-width:200px;width:95%; border-radius: 10px;"
              class="bg1 row text-white"
            >
              <div class="col-1">
                <q-icon class="cursor-pointer" size="30px" name="fas fa-gamepad" />
              </div>
              <div class="f16 q-py-md col" align="center">ระบบเกม</div>
            </q-btn>
          </div>

          <div class="q-py-sm" align="center" :class="{'col-6':innerWidth<1000}">
            <q-btn
              style="max-width:200px;width:95%; border-radius: 10px;"
              class="bg1 row text-white"
            >
              <div class="col-1">
                <q-icon class="cursor-pointer" size="30px" name="fas fa-question-circle" />
              </div>
              <div class="f16 q-py-md col" align="center">อิ่นๆ</div>
            </q-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    login() {
      this.$router.push("/login");
    },
    voting() {
      this.$router.push("/voting");
    },
    vocab() {
      this.$router.push("/vocab");
    },
    grammar() {
      this.$router.push("/grammar");
    },
    reading() {
      this.$router.push("/reading");
    },
    translation() {
      this.$router.push("/translation");
    },
    phonics() {
      this.$router.push("/phonics");
    },
    language() {
      this.$router.push("/language");
    },
    datafile() {
      this.$router.push("/datafile");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style lang="scss" scoped>
</style>