<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="q-px-md">
      <div style="width:100%;max-width:900px ; margin:auto;">
        <div class="cl1 f24 q-pt-xl" align="center">เรียนรู้การใช้งาน</div>
        <div class="f20 q-py-md" align="center">ข้อมูลผู้ใช้</div>
        <div class="f18" align="center">หน้าข้อมูลผู้ใช้ มีวิธีเปลี่ยนรหัสผ่านได้ ดังนี้</div>
        <div class="q-py-xl">
          <img src="../statics/user.png" alt />
        </div>
        <div class="row">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">1</div>
          </div>
          <div class="col self-start label">
            คุณครูสามารถเปลี่ยนได้แค่ "รหัสผ่าน" เท่านั้น ถ้าต้องการเปลี่ยน ชื่อผู้ใช้งาน หรือ
            1 เบอร์โทรศัพท์ กรุณาติดต่อผู้ประสานงานโรงเรียน
          </div>
        </div>
        <div class="row q-pt-md">
          <div class="col-1" style="width:50px" align="center">
            <div class="caption">2</div>
          </div>
          <div class="col self-start label">กดปุ่ม “บันทึกการเปลี่ยนแปลง”</div>
        </div>
      </div>
    </div>
    <div class="row" :class="{'q-py-xl':innerWidth>=1000,'q-py-md':innerWidth<1000}">
      <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
        <div class="q-py-md" v-show="innerWidth>=1000" align="center">
          <div>
            <q-btn
              @click="backBtn()"
              style="width:100%;max-width:200px; height:60px  "
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <i class="fas fa-chevron-left"></i>
              <span class="q-px-md">ก่อนหน้านี้</span>
            </q-btn>
          </div>
        </div>
        <div class="q-py-md" v-show="innerWidth<1000" align="center">
          <div>
            <q-btn
              @click="backBtn()"
              size="16px"
              round
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <i class="fas fa-chevron-left"></i>
            </q-btn>
          </div>
        </div>
      </div>
      <div :class="{'col-6':innerWidth>=1000 ,'col-8':innerWidth<1000}" class="self-center">
        <div align="center" v-if="innerWidth>=1000">
          <q-btn
            @click="homeBtn()"
            class="cl1 label"
            style="width:100%;max-width:450px; height:60px;border: 3px solid  #3f51b5;"
            flat
            rounded
            label="การเรียนรู้การใช้งาน"
          />
        </div>
        <div align="center" v-if="innerWidth<1000" class="q-px-sm">
          <q-btn
            @click="homeBtn()"
            size="17px"
            style="width:100%;max-width:450px; "
            class="btn1 fit cl1 bg1 cl3"
            flat
            rounded
            label="การเรียนรู้การใช้งาน"
          />
        </div>
      </div>
      <div :class="{'col-3':innerWidth>=1000 ,'col-2':innerWidth<1000}" class="self-center">
        <div class="q-py-md" v-show="innerWidth>=1000" align="center">
          <q-btn
            @click="nextBtn()"
            style="width:100%;max-width:200px; height:60px  "
            class="bg1 text-white f20"
            unelevated
            rounded
          >
            <span class="q-px-md">หน้าถัดไป</span>
            <i class="fas fa-chevron-right"></i>
          </q-btn>
        </div>
        <div class="q-py-md" v-show="innerWidth<1000" align="center">
          <div>
            <q-btn
              @click="nextBtn()"
              size="16px"
              round
              class="bg1 text-white f20"
              unelevated
              rounded
            >
              <i class="fas fa-chevron-right"></i>
            </q-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerheigth: window.innerheigth
    };
  },
  methods: {
    onResize(x) {
      return (this.innerWidth = x.width), (this.innerheigth = x.height);
    },
    nextBtn() {
      this.$router.push("/score");
    },
    homeBtn() {
      this.$router.push("/tutorial01a");
    },
    backBtn() {
      this.$router.push("/language");
    }
  },
  mounted() {
    console.log(this.$q.platform);
  }
};
</script>

<style >
img {
  width: 100%;
  max-width: 900px;
}
</style>