/* app global css */

.bg {
  background-image: url("../statics/bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

  /* background-color: #121212; */
  /* background-position: top; */
  /* background-size: 100vh; */
}
.bg-Mb {
  background-image: url("../statics/bg.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.brx {
  border: 1px solid red;
}
.cl1 {
  color: #3f51b5;
}
.cl {
  color: #e7f7ff;
}
.cl3 {
  color: #ffffff;
}
.cl4 {
  color: #ff6f00;
}
.cl5 {
  color: #027be1;
}

.bg1 {
  background: #3f51b5;
}
.bg2 {
  background-color: #e7f7ff;
}
.bg3 {
  background-color: #ffffff;
}
.bg4 {
  background-color: #ff6f00;
}
.f34 {
  font-size: 34px;
}
.f26 {
  font-size: 26px;
}
.f24 {
  font-size: 24px;
}
.f20 {
  font-size: 20px;
}
.f18 {
  font-size: 18px;
}
.f16 {
  font-size: 16px;
}
.f14 {
  font-size: 14px;
}
.f10 {
  font-size: 10px;
}
body {
  font-family: sans-serif, Arial, Helvetica;
}
.caption {
  width: calc(28px + 1vw);
  height: calc(28px + 1vw);
  background-color: #027be1;
  color: #ffffff;
  font-size: calc(10px + 1vw);
  font-weight: bold;
  line-height: calc(30px + 1vw);
  border-radius: 50%;
}
.caption3 {
  width: calc(23px + 1vw);
  height: calc(23px + 1vw);
  background-color: #027be1;
  color: #ffffff;
  font-size: calc(5px + 1vw);
  font-weight: bold;
  line-height: calc(25px + 1vw);
  border-radius: 50%;
}
.btn1 {
  background-color: #3f51b5;
  color: #ffffff;
}
.caption2 {
  width: calc(28px + 1vw);
  height: calc(28px + 1vw);
  background-color: #38720b;
  color: #ffffff;
  font-size: calc(10px + 1vw);
  font-weight: bold;
  line-height: calc(30px + 1vw);
  border-radius: 50%;
}

.label {
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  font-size: calc(16px + 0.2vw);
}
.label2 {
  font-size: calc(18px + 0.2vw);
}
.special {
  border: 2px solid #ff6f00;
}
